doctype html
html
    head
        title Server Status
        style.
            body {
                font-family: Arial, sans-serif;
            }
            .status {
                font-weight: bold;
                font-size: 16px;
            }
    body
        .status NodeJS Server working !!
